.head-bg
{
    background: #f5f5f5;
    padding: 14px 0;
    h2
    {
        font-size: 32px;
        font-family: 'open_sanslight';
        display: inline-block;
        margin: 6px 0 0;
    }
    a 
    {
        color: #454545;
        font-size: 20px;
        font-family: 'open_sanslight';
        float: right;
        padding: 12px 0 12px;
        span 
        {
            margin: 0 5px 0;
        }
    }
}
.address, .notes, .shipping 
{
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 0 0 10px;
    
    h2 
    { 
        margin: 0;
        text-transform: uppercase;
        font-family:'open_sanslight' ;
        font-size:22px; 
        color:#454545;
    }
}
.address
{
    padding: 20px 20px 210px;
    margin: 20px 0 10px;
}
.padding-zero
{
    padding: 0;
}
.detail-left
{
    address 
    {
        background: url(../images/detail-nav-icon.png) no-repeat left top;
        padding: 0 0 0 25px;
        h3 
        {
            font-weight: bold;
            color: #454545;
            text-transform: uppercase;
            font-family:$opensans-semibold;
            font-size: 18px;
        }
        p 
        {
            font-family: 'OpenSansRegular';
            font-size: 18px;
            line-height: 24px;
            color: #454545;
        }
        
    }
}
.contact
        {
            
            font-family: $opensans-semibold;
            font-size: 18px;
            text-align: center;
            margin: 30px 0 0;
            color: #454545;
            span 
            {
                margin: 0 5px 0 0;
            }
        }

.notes-text
{
    @extend .contact;
    font-family: 'OpenSansRegular';
    text-align: left;
    margin: 20px 0 0;
}
.notes
{
    padding: 20px 20px 48px;
}
.shipping 
{
    padding: 20px 20px 155px;
    h3 
    {
        color: #454545;
        font-family: "open_sanslight";
        font-size: 16px;
        margin: 20px 0;
    }
    span
    {
        @extend .notes-text;
        border: 1px solid #e0e0e0;
        padding: 12px 10px;
        font-size: 16px;
        margin: 0;
        display: inline-block;
        width: 80%;
    }
    select 
    {
        color: #b1b1b1;
        font-family: 'OpenSansRegular';
        font-size: 16px;
        padding: 12px 10px;
        display: inline-block;
        width: 80%;
        background: url(../images/down-arrow.png) no-repeat 95% center;
        border: 1px solid #e0e0e0;
        -webkit-appearance:none;
        -moz-appearance:none;
        
        option 
        {
            color: #454545;
        }
    }
}
.cake-detail
{
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    text-align: center;
    
    img 
    {
        margin: 15px 0 0;
    }
    h2
    {
        @extend .contact;
        margin: 20px 0;
    }
    p 
    {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #874737;
        margin: 40px 0 15px;
    }
    .cake-table 
    {
        width: 100%;
        tr 
        {
            td 
            {
                &:nth-child(1)
                {
                    @extend .contact;
                    font-family: 'open_sanslight';
                    font-size: 16px;
                    text-align: left;
                    padding: 5px 5px 5px 20px;
                    margin: 0;
                    
                }
                &:nth-child(2)
                {
                    @extend .notes-text;
                    padding: 5px 20px 5px 5px;
                    margin: 0; 
                    text-align: right;
                    
                }
            }
        }
    }
}

.detail-buttons
{
    text-align: right;
    margin: 150px 0 0;
    
    .print-btn
    {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #874737;
        padding: 12px 15px 12px 50px;
        border: 1px solid #874737;
        margin: 15px;
        background: url(../images/print-button-icon.png) no-repeat 15px center;
    }
     
    .assign-btn
    {
         font-family: 'OpenSansRegular';
        font-size: 18px;
        padding: 10px 75px 12px 25px;
        color: #fff;
        border: 1px solid #874737;
         background:#874737 url(../images/assign-button-icon.png) no-repeat 95px center;
    }
    
}











































