/* Admin Scss */
/*Include*/
@import "reset.css";
@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "fonts";

    /*Font size*/
$size-10: 0.625em;
$size-11: 0.6875em;
$size-12: 0.75em;
$size-13: 0.8125em;
$size-14: 0.875em;
$size-15: 0.9375em;
$size-16: 1em;
$size-18: 1.125em;
$size-20: 1.12em;
$size-22: 1.375em;
$size-28: 1.75em;
$size-30: 1.875em;
$size-40: 2.5em;
$size-45: 2.8125em;
$size-48: 3em;

header {
    overflow: hidden;
    width: 100%;
    height: 40px;
    background: #874737;
}
footer {
    height: 25px;
    width: 100%;
    text-align: center;
    background: #454545;
    color: #888;
    font-size: $size-11;
    vertical-align: middle;
    padding: 6px 0;
}