.cake-detail-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cake-view-wrap {
  width: 40%;
  float: left;
  overflow: hidden;
}

.ico-share-wrap {
  overflow: hidden;
  padding: 20px;
  li {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 0 20px;
    a {
      display: block;
      height: 24px;
      &.btn-ico-whislist {
        background: url(../images/ico_detail_whislist.png) no-repeat center;
      }
      &.btn-ico-share {
        background: url(../images/ico_detail_share.png) no-repeat center;
      }
    }
  }
}

.btn-group-detail {
  width: 300px;
  margin: 0 auto;
  p {
    margin-right: 10px;
    float: left;
    height: 36px;
    text-transform: uppercase;
    font-size: $size-16;
    font-family: 'Exo2Medium';
    a {
      display: block;
      height: 100%;
      padding: 6px 0 0;
    }
  }
}

.btn-add-cart {
  width: 152px;
  a {
    color: #f6ad99;
    border: 1px solid #f6ad99;
  }
}

.btn-buy {
  width: 128px;
  a {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#f7a085), to(#f2635d));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #f7a085, #f2635d);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #f7a085, #f2635d);

    /* IE 10 */
    background: -ms-linear-gradient(left, #f7a085, #f2635d);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #f7a085, #f2635d);
  }
}

.cake-view-cont {
  height: 455px;
  position: relative;
  top: 23%;
  //transform: translate(0, 50%)
}

.cake-text-wrap {
  width: 60%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  padding: 45px;
  h1 {
    //color: #f8a898;
    //font-size: $size-28;
    margin: 30px 0 12px;
  }
}

.cake-breadcrumb {
  li {
    color: #8f8f8f;
    font-size: 12px;
    display: inline-block;
    margin-right: 7px;
    font-family: 'OpenSansRegular';
    a {
      color: #b1b1b1;
    }
    &.active {
      color: #8e8e8e;
    }
  }
}

.cake-title-detail {
  overflow: hidden;
  margin: 0 0 30px;
  .review-cake {
    //text-align: center;
    @include transition (.3s opacity);
    display: block;
    overflow: hidden;
    img {
      float: left;
    }
    h3 {
      font-size: $size-18;
      color: #f5828a;
      padding: 5px 0 0 10px;
      margin: 0;
      overflow: hidden;
      float: left;
    }
    span {
      float: left;
      margin: 3px 10px 0;
    }
    p {
      font-size: 12px;
      float: left;
      font-family: 'OpenSansRegular';
      text-transform: uppercase;
      padding: 7px 0 0;
    }
  }
}

.cake-text-details {
  overflow: hidden;
}

.cake-cont {
  overflow: hidden;
  h4 {
    font-size: $size-22;
    color: #87483a;
    font-family: 'Exo2Light';
    margin: 0 0 13px;
  }
  article {
    font-size: $size-15;
    line-height: 22px;
    color: #8e8e8e;
    font-family: 'OpenSansRegular';
    padding-right: 15px;
  }
  .pull-left {
    &:nth-child(2) {
      ul {
        margin: 0;
      }
    }
  }
  ul {
    -webkit-tap-highlight-color: transparent;
    margin: 0 150px 0 0;
    li {
      overflow: hidden;
      display: inline-block;
      width: 30px;
      height: 40px;
      padding-top: 2px;
      text-align: center;
      cursor: pointer;
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      /* Not implemented yet */
      -o-user-select: none;
      user-select: none;
      border: 1px solid rgba(135, 72, 58, 0.78);
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      &:nth-child(1) {
        background: url(../images/count_minus.png) no-repeat center;
      }
      &:nth-child(2) {
        width: 58px;
        margin: 0 -4px;
        cursor: text;
        border-right: none;
        border-left: none;
        border-radius: 0%;
        input {
          width: 100%;
          border: none;
          text-align: center;
          background: none;
          font-size: 22px;
          color: #f8a898;
        }
      }
      &:nth-child(3) {
        border-radius: 0%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        background: url(../images/count_plus.png) no-repeat center;
      }
    }
  }
}

.input-availabilty {
  p {
    overflow: hidden;
    float: left;
    padding: 0 0 0 12px;
    width: 235px;
    position: relative;
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #a2a2a2;
      padding: 0 44px 0 22px;
      font-size: $size-14;
      background: url(../images/ico_location.png) no-repeat 0 center;
      &.btn-check {
        width: auto;
        border: none;
        background: none;
        position: absolute;
        top: 3px;
        right: 0;
        padding: 0;
        color: #87483a;
      }
    }
  }
  h5 {
    clear: both;
    margin: 0;
    font-size: $size-15;
    color: #454545;
    font-family: 'OpenSansRegular';
  }
}

.toggle-chk {
  span {
    font-size: $size-18;
    &.non-veg {
      color: #454545;
    }
    em {
      font-size: $size-12;
      font-style: normal;
    }
  }
  label {
    margin: 0 20px;
  }
}

.toggle {
    vertical-align: middle;
  &, * {
    user-select: none;
  }
  label {
    // Hide original checkbox
    input[type=checkbox]:first-child {
      opacity: 0;
      display: block;
      width: 0;
      height:0;      
    }    
    // Switch bg on
    input[type=checkbox]:first-child:checked + .toggle {
      background-color: #a2a2a2;
      // Handle on
      &:after {
        background-color: #87483a;      
      }
    }
    // Switch bg off and disabled
    .toggle, 
    input[type=checkbox][disabled]:first-child + .toggle {
      content: "";
      display: inline-block;
      width: 30px;
      height: 1px;
      background-color: #a2a2a2;
      transition: background 0.3s ease;
    }
    // Handle off
    .toggle:after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #87483a;
      border-radius: 20px;
      position: relative;
      //box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
      left: -5px;
      top: -10px;
      transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
      
    }
    // Handle disabled
    input[type=checkbox][disabled]:first-child + .toggle:after,
    input[type=checkbox][disabled]:checked:first-child + .toggle:after{
      background-color: #000;      
    }
    // Ripple on
    input[type=checkbox]:first-child:checked:active ~ .toggle:after,
    input[type=checkbox]:first-child:checked ~ .toggle:active:after {    
      //box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 149, 135, 0.1);
    }
    // Ripple off and disabled
    input[type=checkbox]:first-child:active ~ .toggle:after, 
    input[type=checkbox]:first-child ~ .toggle:active:after, 
    input[type=checkbox][disabled]:first-child ~ .toggle:active:after {    
      //box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
    }
    input[type=checkbox]:first-child:checked + .toggle:after {
      left: 15px;
    }
  }
}

.close-details {
  right: 0;
  top: 120px !important;
  @include translate(0, 0);
  a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/ico_close.svg) no-repeat 0 0;
  }
}