@font-face {
  font-family: 'Exo2Light';
  src: url('../fonts/Exo2Light.eot');
  src: url('../fonts/Exo2Light.eot') format('embedded-opentype'),
  url('../fonts/Exo2Light.woff2') format('woff2'),
  url('../fonts/Exo2Light.woff') format('woff'),
  url('../fonts/Exo2Light.ttf') format('truetype'),
  url('../fonts/Exo2Light.svg#Exo2Light') format('svg');
}

@font-face {
  font-family: 'Exo2Medium';
  src: url('../fonts/Exo2Medium.eot');
  src: url('../fonts/Exo2Medium.eot') format('embedded-opentype'),
  url('../fonts/Exo2Medium.woff2') format('woff2'),
  url('../fonts/Exo2Medium.woff') format('woff'),
  url('../fonts/Exo2Medium.ttf') format('truetype'),
  url('../fonts/Exo2Medium.svg#Exo2Medium') format('svg');
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('../fonts/OpenSansSemiboldItalic.eot');
  src: url('../fonts/OpenSansSemiboldItalic.eot') format('embedded-opentype'),
  url('../fonts/OpenSansSemiboldItalic.woff2') format('woff2'),
  url('../fonts/OpenSansSemiboldItalic.woff') format('woff'),
  url('../fonts/OpenSansSemiboldItalic.ttf') format('truetype'),
  url('../fonts/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
  url('../fonts/OpenSansRegular.woff2') format('woff2'),
  url('../fonts/OpenSansRegular.woff') format('woff'),
  url('../fonts/OpenSansRegular.ttf') format('truetype'),
  url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}