@media (max-width: 1521px) {
  .search-btn {
    width: 70%;
  }
}
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
  .search-btn {
    width: 65%;
  }
}
@media only screen and (max-width: 1250px) {
  .search-btn {
    margin: 0 0px 0 auto;
    width: 60%;
  }
  .cake-view-wrap {
    width: 45%;
  }
  .cake-text-wrap {
    width: 55%;
  }
  #showcase {
    .slick-prev {
      bottom: 220px;
      left: 40px;
      @include scale(2);
    }
    .slick-next {
      bottom: 140px;
    }
  }
}

@media (max-width: 1349px) {
  .delivery-table thead tr th {
    font-size: 13px;
  }
  .pay-options {
    li {
      margin-right: 15px;
      a {
        font-size: 14px;
      }
    }
  }
  .radio-custom-label img {
    margin: 0;
  }
  .profile-page .text-right a:nth-child(2) {
    white-space: nowrap;
  }
  .add-more-details {
    right: 0;
  }
}

@media (max-width: 1100px) {
  .pay-options {
    li {
      margin-right: 10px;
      a {
        font-size: 13px;
      }
    }
  }
  .radio-custom-label img {
    margin: 0 0 0 -4px;
  }
  .radio-custom + .radio-custom-label:before {
    margin-right: 7px;
  }
  .radio-cls {
    &:before {
      margin-right: 8px !important;
    }
  }
  .debit-banking, .credit-banking {
    padding: 0;
    p {
      input {
        font-size: 14px;
      }
    }
  }
  .checkout-details p input {
    width: 60%;
  }
  .checkout-details p .cvv {
    width: 25%;
    margin-left: 8px;
  }
  .checkout-details p .exp-date {
    width: 32%;
  }
  .cod-details {
    padding: 0;
    p {
      input {
        width: 60%;
      }
    }
  }
  .cod-buttons a {
    width: 60%;
  }
  .otp-buttons a:last-child {
    width: 60%;
  }
  .my-orders {
    .order-details {
      h2 {
        margin: 10px 0 0;
        display: block;
      }
    }
  }
}

@media (max-width: 1200px) {
  .profile-page .text-right a:nth-child(1) {
    margin: 0 15px 0 0;
  }
  .checkout-img {
    img {
      width: 90%;
    }
  }
  .my-orders {
    tbody {
      td {
        &:nth-child(6) {
          span {
            a {
              background: url(../images/ico_search_small.png) no-repeat 10px center;
            }
          }
        }
      }
    }
  }
  .cake-large-view {
    figure {
      img {
        margin: 0 0 0 auto;
      }
      figcaption {
        margin: 50px 0 35px 70px;
      }
    }
  }
  .btn-group-detail {
    margin: 0 0 0 auto;
  }
}
@media (max-width: 1160px) {
  #showcase .slick-list {
    width: 50%;
    margin-left: 15%;
  }
  #showcase {
    &.slick-vertical {
      .slick-slide {
        img {
          width: 100%;
        }
      }
    }
  }
  .cake-latest-price {
    left: 65%;
  }
}
@media (max-width: 1060px) {
  .search-btn {
    margin: 0 0 0 -20px;
  }
}
@media (max-width: 1050px) {
  .my-orders {
    tbody {
      td {
        &:nth-child(6) {
          span {
            a {
              background: url(../images/ico_search_small.png) no-repeat 5px center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1023px) {

}

@media (max-height: 974px) {
  .cake-contain-height {
    height: 770px;
    overflow: hidden;
    overflow-y: auto;
  }
  .cake-detail-contain-height {
    //overflow: hidden;
    //overflow-y: auto;
    height: 700px;
  }
}
@media (max-height: 768px) {
  .login-user {
    &.pop-login-user {
      padding: 30px;
      p {
        .loginhover {
          &:before {
            top: 0;
          }
        }
        input {
           margin: 0;
        }
      }
      div {
        margin: 0 0 10px;
      }
    }
  }
  .cake-contain-height {
    height: 600px;
  }
  .cake-detail-contain-height {
    height: 580px;
  }
}

@media (max-height: 678px) {
  .cake-contain-height {
    height: 480px;
  }
  .cake-detail-contain-height {
    height: 510px;
  }
}