@media only screen and (max-width:1250px) {
    .search-btn {
        margin: 0 150px 0 auto;
        //float: right;
    }
    .cake-view-wrap {
        width: 45%;
    }
    .cake-text-wrap {
        width: 55%;
    }
    #showcase {
        .slick-prev {
            bottom: 220px;
            left: 40px;
            @include scale(2);
        }
        .slick-next {
            bottom: 140px;
        }
    }
}
@media (max-width: 1400px) {
    .container {
        width: 90%;
    }
}