.profile-page
{
    margin-top: 40px;
    h1 
    {
        color: #454545;
        padding: 38px 0 25px;
        font-size: 32px;
    }
    .profile-bg
    {
        background: #fff;
        padding: 0px 40px 40px;
        h3 
        { 
            color: #87483a;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Exo2Medium';
            span 
            {
                font-family: 'Exo2Light';
                font-weight: normal;
            }
        }
    }
    .text-right 
    {
        margin: 45px 0 0;
        a 
        {
            color: #87483a;
            font-family: 'Exo2Medium';
            font-size: 16px;
            
            &:nth-child(1)
            {
                text-decoration: underline !important;
                margin: 0 30px 0 0;
            }
            &:nth-child(2)
            {
                background-image: -moz-linear-gradient( 0deg, rgb(247,160,133) 0%, rgb(245,130,113) 47%, rgb(242,99,93) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(247,160,133) 0%, rgb(245,130,113) 47%, rgb(242,99,93) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(247,160,133) 0%, rgb(245,130,113) 47%, rgb(242,99,93) 100%);
                color: #fff;
                padding: 15px 100px;
                span 
                {
                    img {
                        padding: 0 15px 0 0;
                    }
                }
                
            }
        }
    }
    
}
.order-details 
{
    h2
    {
        display: inline-block;
        font-size: 18px;
        color: #87483a;
        vertical-align: middle;
        margin: 0 0 0 20px;
        p 
        {
           font-weight: bold;
        }
        a 
        {
            span {
            color: #f5828a;
                font-size: 15px;
                margin: 0 0 0 15px;
            }
        }
    }
}
.items-table
{
   width: 100%;
    tr 
    {
        border-bottom: 1px solid #b1b1b1;
    }
    thead 
    {
        th 
        {
            color: #b1b1b1;
        font-size: 18px;
        padding-bottom: 15px;
            
            &:nth-child(1)
            {
                width: 25%;
            }
             &:nth-child(2)
            {
                width: 11%;
            }
             &:nth-child(3)
            {
                width: 11%;
            }
             &:nth-child(4)
            {
                width: 25%;
            }
             &:nth-child(5)
            {
                width: 18%;
            }
             &:nth-child(6)
            {
                width: 10%;
            
            }
        }
    }
    tbody 
    {
        tr 
        {
            td 
            {
                padding: 24px 0;
                color: #87483a;
                vertical-align: middle;
                &:nth-child(6),&:nth-child(5)
                {
                    cursor: pointer;
                }
            }
        }
    }
}
