.list-table
{
   width: 100%;
    overflow: hidden;
    margin: 0 0 30px;
    tr 
    {
        border-bottom: 1px solid #f5f5f5;
    }
    thead 
    {
        th 
        {
            color: #b1b1b1;
        font-size: 14px;
             font-family: 'OpenSansRegular';
            text-transform: uppercase;
        padding-bottom: 15px;
            padding-top: 15px;
            
            &:nth-child(1)
            {
                width: 14%;
            }
             &:nth-child(2)
            {
                width: 27%;
            }
             &:nth-child(3)
            {
                width: 27%;
            }
             &:nth-child(4)
            {
                width: 17%;
            }
             &:nth-child(5)
            {
                width: 15%;
            }
        }
    }
    tbody 
    {
        tr 
        {
            td 
            {
                padding: 24px 0;
                color: #87483a;
                &:nth-child(1), &:nth-child(4)
                {
                    font-size: 16px;
                    font-family: 'OpenSansRegular';
                    color: #454545;
                }
                &:nth-child(2)
                {  
                    p 
                    {
                        color: #454545;
                        font-size: 20px;
                        margin: 0;
                        font-family: 'open_sanslight';
                    }
                }
                &:nth-child(3)
                {
                    color: #c0c0c0;
                    font-size: 14px;
                    line-height: 18px;
                    font-family: 'OpenSansRegular';
                    
                }
                &:nth-child(5)
                {
                    cursor: pointer;
                    .list-btn 
                    {
                        color: #fff;
                        font-size: 15px;
                        font-family: 'OpenSansRegular';
                        outline: none;
                        border: none;
                        padding: 8px 55px 8px 15px;
                        background: #874737 url(../images/process-icon.png) no-repeat 90px center;
                    }
                }
            }
        }
    }
}
.list-table .order-details h2 {
    display: inline-block;
    font-size: 18px;
    color: #87483a;
    vertical-align: middle;
    margin: 0 0 0 20px;
}
.order-text
{
    margin: 6px 0 10px !important;
}