.tracking-detail-buttons {
    @extend .detail-buttons;
    overflow: hidden;
    margin: 35px 0 0;
    .print-btn {
        display: inline-block;
    }
}
.tracking-notes {
    padding: 20px 20px 48px;
    border: 1px solid #e0e0e0;
}
.tracking-list-wrap {
    overflow: hidden;
    tr {
        border: none;
        &.hr-row {
            border-bottom: 1px solid #f5f5f5;
        }
    }    
    td {
        img {
            border: 1px solid #f5f5f5;
        }
    }
}
tr {
    &.slide-track-detail {
        border-bottom: 1px solid #b1b1b1;
        td {
            padding: 0 !important;
        }
    }
}
.order-tracking-step {
    overflow: hidden;
    position: relative;
    padding: 100px 0;
    .tracking-step-detail {
        width: 750px;
        //background: #000;
        min-height: 1px;
        margin: 0 auto;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            left: -2px;
            top: 7px;
            height: 1px;
            background: #ababab;
            z-index: -1;
        }
        li {
            display: inline-block;
            width: calc(100% / 4);
            background-image: url(../images/ico_track_list_normal.png);
            background-position: 0 3px;
            background-repeat: no-repeat;
            margin: 0 -2px;
            text-align: center;
            padding: 25px 0 0;
            font-size: $size-14;
            color: #ababab;
            font-family: 'open_sanssemibold';
            &.active {
                background-image: url(../images/ico_track_list_active.png);
                background-position: 0 0;
                background-repeat: no-repeat;    
            }
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(2) {
                background-position: center 3px;
            }
            &:nth-child(3) {
                background-position: center 3px;
            }
            &:nth-child(4) {
                text-align: right;
                background-position: right 3px;
            }
        }
    }
    .tracking-step-col {
        width: 180px;
        border: 1px solid #939393;
        position: absolute;
        right: 0;
        top: -0px;
        li {
            display: block;
            padding: 15px 15px 15px 45px;
            border-bottom: 1px solid #939393;
            color: #454545;
            font-size: $size-14;
            font-family: 'OpenSansRegular';
            background-image: url(../images/ico_order_list_normal.png); 
            background-position: 25px center;
            background-repeat: no-repeat;
            cursor: pointer;
            &:last-child {
                border: none;
            }
            &.active {
                background-image: url(../images/ico_order_list_active.png); 
                background-position: 23px center;
            }
        }
    }
}
.bg-white-cover {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.76);
}
.delivery-pop-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    .close-deliver {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: #884838;
        position: absolute;
        top: -50px;
        right: 0;
        background-image: url(../images/ico_close.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.delivery-pop-cont {    
    width: 600px;
    height: 420px;
    background: #fff;
    border: 1px solid #8e8e8e;
    div {
        width: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        color: #454545;
        font-family: 'OpenSansRegular';
    }
    h3 {
        font-size: $size-18;
        margin: 0;
    }
    p {
        margin: 0;
        input {
            width: 100%;
            border: 1px solid #b1b1b1;
            padding: 10px;
            width: 100%;
            margin: 30px 0;
        }
        a {
            display: block;
            width: 160px;
            height: 40px;
            border: 1px solid #87483a;
            color: #87483a;
            text-align: center;
            padding: 9px 0;
            font-size: $size-16;
            margin: 0 auto;
            background-image: url(../images/ico_print.png);
            background-repeat: no-repeat;
            background-position: left 20px center;
        }
    }
}