/* Admin Scss */
/*Include*/
@import "reset.css";
@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "fonts";

  /*Mixins*/
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
   /* rotate */
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
} 
  /* scale */
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
 /* translate */
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
@mixin translateX ($xLeft) {
   @include transform(translate($xLeft));
}
    /*Font size*/
$size-10: 0.625em;
$size-11: 0.6875em;
$size-12: 0.75em;
$size-13: 0.8125em;
$size-14: 0.875em;
$size-15: 0.9375em;
$size-16: 1em;
$size-18: 1.125em;
$size-20: 1.12em;
$size-22: 1.375em;
$size-28: 1.75em;
$size-30: 1.875em;
$size-40: 2.5em;
$size-45: 2.8125em;
$size-48: 3em;


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
input:focus::-webkit-input-placeholder { display: none; }
header {
    overflow: hidden;
    width: 100%;
    height: 40px;
    background: #874737;
    position: relative;
    z-index: 1;
    ul 
    {
        float: right;
        margin: 0 24px 0 0;
        li 
        {
            float: left;
            border: 1px solid #996255;
            border-top: none;
            border-bottom: none;
            a
            {
                padding: 10px 15px;
            }
            &:first-child
            {
            a 
            { 
               
               &:first-child 
                {
                    img 
                    {
                        padding: 11px 0;
                    }
                }
            }
        }
        }
    }
}
footer {
    height: 25px;
    width: 100%;
    text-align: center;
    background: #454545;
    color: #888;
    font-size: $size-11;
    vertical-align: middle;
    padding: 6px 0;
    z-index: 1;
    position: fixed;
    bottom: 0;
}
.admin-logo 
{
    a 
    {
        img 
        {
            padding: 9px 0;
        }
    }
}
.admin-logo > a
{
    margin: 0 0 0 104px;
}
.login-wrap
{
    margin: 90px 0 0;
    text-align: center;
     a 
    {
        color: #454545;
        font-size: 12px;
        font-family: 'OpenSansRegular';
        &:hover
        {
            text-decoration: underline !important;
        }
    }
    p 
    {
        overflow: hidden;
        width: 100%;
        &:nth-child(3)
        { 
            span 
            {
                visibility: hidden;
            }
            input
            {
               width: 22.39%;
                background: #874737;
                color: #fff;
            }
        }
        span 
        {
            border: 1px solid #874737;
            margin-right: -5px;
            display: inline-block;
            height: 100%;
            padding: 10px 14px 10px 12px;
        }
        &:nth-child(2)
        {
            span 
            {
               padding:  11px 16px 10px 13px;
            }
        }
        input 
        {
            padding: 12px 25px;
            color: #874737;
            font-size:$size-16;
            font-family: 'OpenSansRegular';
            border: 1px solid #874737;
            display: inline-block;
            width: 20%;
            

        }
        input::-webkit-input-placeholder 
        {
             color: rgba(135,71,55,0.4);
        }
    }
}



input:focus::-webkit-input-placeholder { transition: 0.3s all ease;
opacity: 0;}

@import "orderdetails";
@import "orderlist";
@import "tracking";
@import "client-data";
@import "acceptance";
@import "product";
@import "sales";
@import "add-remove";